body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    margin: 0;
}

#name-box {
    background-color: gray;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.description,
.project-description {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.9); /* Adjusted for a more visible gray box */
    text-align: center;
}

.view-project {
    display: inline-block;
    background-color: #388E3C;
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-size: 1.5em; /* Increase font size for the 'View Project' links */
}

.view-project:hover {
    opacity: 0.9;
}

h2, h3 {
    text-align: center;
    color: gray;
}

.footer-quote {
    text-align: center;
    background-color: rgba(220, 220, 220, 0.9); /* Adjusted for a more visible gray box in footer */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
