
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    margin: 0;
}

#name-box {
    background-color: gray;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.description,
.project-description {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.7);
    text-align: center;
}

.project-header {
    display: block;
    background-color: #007BFF;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.view-project {
    display: inline-block;
    background-color: #388E3C;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.view-project:hover {
    opacity: 0.9;
}

h2,
h3 {
    text-align: center;
    color: gray;
}

.footer-quote {
    text-align: center;
    background-color: rgba(240, 240, 240, 0.7);
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
.da-project {
    background-color: gray;
}

.ea-project {
    background-color: green;
}

.featured-project {
    background-color: #FFC0CB; /* Light Red */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}
footer {
    background-color: gray;
    padding: 10px 0;  /* Optional: Add some padding for better appearance */
    border-radius: 5px; /* Optional: To match other elements' rounded corners */
}

.project-header, .project-description {
    font-size: 1.5em; /* Adjust the size as necessary */
}

/* If you want the headers to be even bigger than the description, you can separate them: */
.project-header {
    font-size: 1.8em; /* Adjust the size as necessary */
}


